In [2]:
# Correlation Matrix In Python


import pandas as pd
 
# Sample housing dataset
data = {
    'Bedrooms': [2, 3, 4, 3, 5],
    'Bathrooms': [1, 2, 3, 2, 4],
    'Square Footage': [1000, 1500, 2000, 1300, 2500],
    'Price': [200000, 300000, 400000, 250000, 500000]
}
 
# Convert to DataFrame
df = pd.DataFrame(data)

corr_relation = df.corr()

print(corr_relation)

                Bedrooms  Bathrooms  Square Footage     Price
Bedrooms        1.000000   1.000000        0.989044  0.983282
Bathrooms       1.000000   1.000000        0.989044  0.983282
Square Footage  0.989044   0.989044        1.000000  0.999389
Price           0.983282   0.983282        0.999389  1.000000

In [5]:
# ANOVA (Analysis of Variance) in Python -> continuous target varible


from sklearn.feature_selection import f_regression 

# Sample housing dataset
data = {
    'Bedrooms': [2, 3, 4, 3, 5],
    'Bathrooms': [1, 2, 3, 2, 4],
    'Price': [200000, 300000, 400000, 250000, 500000]
}
 
# Convert to DataFrame
df = pd.DataFrame(data)

X = df[['Bedrooms', 'Bathrooms']]
y = df['Price']


# Perform ANOVA F-test -> target attribute is continuous if -> its categorical use ->f_classif
f_value, p_value = f_regression(X, y)


anova_feature = pd.DataFrame({
    'Feature' : ['Bedrooms', 'Bathrooms'],
    'F-value' : f_value,
    'P-value' : p_value
})

anova_feature

     Feature  F-value   P-value
0   Bedrooms    87.48  0.002588
1  Bathrooms    87.48  0.002588

In [7]:
# ANOVA (Analysis of Variance) in Python -> continuous target varible

from sklearn.feature_selection import f_classif

# Example dataset (target is categorical)
data = {
    'Age': [25, 45, 35, 33, 23, 36, 52],
    'Salary': [50000, 100000, 75000, 72000, 48000, 81000, 120000],
    'Purchased': [0, 1, 0, 0, 0, 1, 1]  # Categorical target: 0 = No, 1 = Yes
}

df = pd.DataFrame(data)

X = df[['Age', 'Salary']]
y = df['Purchased']

f_value, p_value = f_classif(X,y)

anova_featue = pd.DataFrame({
    'Feature' : ['Age', 'Salary'],
     'F_value' : f_value,
    'P_value' : p_value
})

anova_feature

     Feature  F-value   P-value
0   Bedrooms    87.48  0.002588
1  Bathrooms    87.48  0.002588